@charset "utf-8";

ul#albumFotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none; /*tira os bullets*/
}

ul#albumFotos li{
    float: left; /*um ao lado do outro*/
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    transition: all  0.3s ease-in;
}

ul#albumFotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 380px;  /*desce a linha da legenda*/
    padding: 4px
}

ul#albumFotos li:hover {
    transform: scale(1.5);  /*aumenta a imagem*/
}

ul#albumFotos li:hover span{
    opacity: 1;  /*quando o mouse passar na foto, a legenda aparece*/
}

ul#albumFotos li#foto01 {
    background: url('../_imagens/galeria-01.jpg') no-repeat; /*.. pois está em uma pasta fora da atual*/
    background-position: 50% 50%; /*visualização vai p/ 50% abaixo e direita*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#albumFotos li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumFotos li#foto02 {
    background: url('../_imagens/galeria-02.jpg') no-repeat; 
    background-position: 50% 50%; /*visualização vai p/ 50% abaixo e direita*/
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#albumFotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumFotos li#foto03 {
    background: url('../_imagens/galeria-03.jpg') no-repeat; 
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#albumFotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumFotos li#foto04 {
    background: url('../_imagens/galeria-04.jpg') no-repeat; 
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#albumFotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumFotos li#foto05 {
    background: url('../_imagens/galeria-05.jpg') no-repeat; 
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#albumFotos li#foto05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumFotos li#foto06 {
    background: url('../_imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#albumFotos li#foto06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
